*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: black;
}

.containerColors,
.containerButton,
.containerRange {
    height: auto;
    width: 30%;
    max-width: 400px;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerColors {
    flex-direction: column;
}

input {
    width: 100%;
    border-radius: 15px;
    padding: 15px;
    font-size: 25px;
    outline: none;
    border: 2px solid snow;
    margin: 5px 0;
    font-weight: bold;
}
.containerButton {
    align-items: center;
}

button {
    border: none;
    outline: none;
    width: 60px;
    height: 60px;
    border-radius: 15px;
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
button img {
    width: 30px;
    pointer-events: none;
}
.random {
    font-size: 25px;
    width: 200px;
    height: 60px;
}
span {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}